<!DOCTYPE html>
<html>
<head>
    <script src = "https://code.jquery.com/jquery-2.1.3.min.js"
            type = "text/javascript"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"
            type = "text/javascript"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"
            type = "text/javascript"></script>
    <meta charset="utf-8">
    <title>Backbone Tutorial</title>
    <style>
        #movieInfo {background-color:yellow}

        #helloWorld{ margin-top:  200px }
    </style>
</head>
<body>
<div id="movieInfo"></div>

<div id="helloWorld"></div>

<script type="text/template" id="MovieViewTemplate">
    <h3><%= title %></h3>
    <p>
        director : <%= director %><br>
        hits: <%= hits %>
    </p>
</script>


<script type="text/template" id="HelloWorldTemplate">

    <h3>Hello <%= who%> </h3>


</script>
<script>
    var AppView = Backbone.View.extend({
       $el:$('#helloWorld') ,
        // template which has the placeholder 'who' to be substitute later
        // 고정된 템플릿임 'who는 나중에 작성된다.
        template:_.template($("#HelloWorldTemplate").html()),
        initialize:function(){
           this.render();
        },
        render: function(){
           this.$el.html(this.template({who:"world"}));
        }

    });

    var appView = new AppView();

    var MovieModel = Backbone.Model.extend({
        defaults: {
            title: "",
            director: "",
            hits: 0
        }
    });
    var MovieView = Backbone.View.extend({
        events: {
            "click": "increaseHitCounts"
        },
        initialize: function(options){
            _.extend(this, options);
            _.bindAll(this, "render");


            this.template = _.template($("#MovieViewTemplate").html());
            this.model = new MovieModel({
                title: "Terminator 2",
                director: "James Cameron",
                hits:1
            });
            this.model.on({
                "change:hits": this.render
            });

//            this.model.
            this.render();
        },
        render: function(){
            this.$el.html(this.template(this.model.toJSON()));
        },
        increaseHitCounts: function(){
            this.model.set({
                "hits": this.model.get("hits") + 1
            });
        }
    });

    var movieView = new MovieView({
        $el: $("#movieInfo")
    });
</script>
</body>
</html>